.Footer {
    width: 100%;
    background-color: #121619;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
    position: relative;
    bottom: 0;
  }
  
  .socialMedia {
    display: flex;
    gap: 15px; /* Space between icons */
    margin-bottom: 10px;
  }
  
  .socialMedia svg {
    font-size: 30px; /* Adjust icon size */
    cursor: pointer;
    transition: 0.3s ease-in-out;
  }
  
  .socialMedia svg:hover {
    color: #ff4d00; /* Highlight color on hover */
    transform: scale(1.2);
  }
  
  .Footer p {
    font-size: 14px;
    margin-top: 5px;
    text-align: center;
  }
  